* {
    padding: 0;
    margin: 0;

}

.wrapper {
    display: flex;
    align-items: stretch;
    background-color: #fff;
}

#sidebar {
    min-width: 250px;
    max-width: 100vw;
    min-height: 100vh;

    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    text-align: center;
    padding-top: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


#content {
    position: relative;
    width: 100%;
    transition: all 0.3s;
    overflow-x: hidden;
}

hr {
    margin: 8px;
}

#content.active {
    width: 100%;
}

#header{
    position: relative;
    width: 100%;
    transition: all 0.3s;
}

#user > ul {
    padding: 0;
}

#main {
    position: absolute;
    padding: 10px;
    overflow-x: hidden;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

h1, h2 {
    display:inline-block;
}

h2 {
    margin-left: 5px;
}


@media  screen and (max-width: 780px) {
    span.criar{
        display: none;
    }
}
/* Light Mode */

#content {
    background-color: lightgray;
}

#sidebar {
    background: white;
    color: black;
}

#sidebar ul li a:hover {
    background: #f0d278;
    
}
#header {
    background-color: #e7c869;

}

th {
    background-color: #e7c869;
    color: black;
}

/* Dark Mode */

.dark-mode #content{
    background-color: grey;
}

.dark-mode #sidebar {
    background: #213242;
    color: #fff;
}

.dark-mode #sidebar ul li a:hover {
    background: #416e99;
}

.dark-mode #header {
    background-color: #3c5a72;
}

.dark-mode th {
    background-color: #3c5a72;
    color: white;
}

.dark-mode td {
    background-color: white;
}
