@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html{

    overflow: hidden;
}
body { 
    background-color: lightgray;
    margin: 0; 
    padding: 0;
}

body a{
    text-decoration: none;
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    z-index: -10; 
}


/* NAVIGATION BAR */
.navigation-bar{
    position: static;
    top: 0;
    bottom: 0;  
    width: auto;
    padding-right: 0;
    
}

.navigation{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.navigation.disable{
    display: none;
    visibility: hidden;
}

.navigation-content{
    list-style: none;
    padding: 1rem .5rem 1rem 0;
    display: block;
    width: max(15vw, 12rem);
}

.navigation-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 .5rem 0;        
}

.navigation-item{
    display: flex;
    align-items: center;
    color: #213242;
    width: 100%;
    margin: .2rem .2rem .2rem 0;
    padding: .5rem;
    border-radius: 0 10px 10px 0;
    font-family: 'Poppins', sans-serif;

}

.navigation-item a{
    color: #213242;
    width: 100%;
    text-decoration: none;
    transition: all 0.3s;
}

.navigation-item a:hover, 
.navigation-item:hover{
    color: #e3a92b;
    
}

.navigation-item.active{
    background-color: #e3a92b;
}

.navigation-item.active:hover,
.navigation-item.active a:hover{
    color: #ffffff;
}

.navigation-item.login{
    background-color: #213242;
}

.navigation-item.login,
.navigation-item.login a{
    color: #ffffff;
}

.navigation-item.login:hover,
.navigation-item.login a:hover{
    color: #e3a92b;
}


.navigation-item .icon{
    max-width: 20%;
}

.container-content{
    padding-left: 0;
}

.header{
    background-color: #cd9a03;
}

/* MOBILE VIEWPORT */
@media (max-width: 1400px) {
    .navigation-item{
        font-size: small;
    }
}

@media (max-width: 600px) {
    .navigation-bar{
        top: auto;
        bottom: 0;
        width: 100%;
        padding: 0;
        height: auto;
    }

    .navigation{
        background-color: #ffffff;
        transition: 0.3s;
        height: auto;
    
    }
    
    .navigation.disable{
        margin-bottom: -90%;
        transition: 0.3s;
    }

    .navigation-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem .5rem .5rem .5rem;
        width: 100vw;
    }

    .navigation-item{
        justify-content: center;
        padding: .3rem;
        border-radius: 10px;
        width: 13vw;
    }

    .navigation-content .icon{
        max-width: 100%;
    }

    .navigation-content span{
        display: none;
        visibility: hidden;
    }

}

/* DARK THEME */

@media (prefers-color-scheme: dark) {

    .navigation-item{
        color: #ffffff;
    }
    
    .navigation-item a:hover, 
    .navigation-item:hover{
        color: #cd9a03;
    }

    .navigation-item.active{
        background-color: #cd9a03;
    }

    .navigation-item.active:hover,
    .navigation-item.active a:hover{
        color: #000000;
    }

}


body.dark-mode {
    background-color: gray;
}

.dark-mode .navigation{
    background-color: #3c5a72;
    color: white;
}

.dark-mode .navigation-item,
.dark-mode .navigation-item a{
    color: #000000;
}

.dark-mode .navigation-item a:hover, 
.dark-mode .navigation-item:hover{
    color: white;
}

.dark-mode .navigation-item.active{
    background-color: #517490;
}

.dark-mode .navigation-item.active:hover,
.dark-mode .navigation-item.active a:hover{
    color: #ffffff;
}

.dark-mode .header {
    background-color: #213242;

}
