@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html{
    overflow-y: hidden;
}
body { 
    margin: 0; 
    padding: 0;
}

body a{
    text-decoration: none;
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    z-index: -10; 
}


/* NAVIGATION BAR */
.navigation-bar{
    position: fixed;
    top: 0;
    bottom: 0;  
    width: auto;
    display: flex;
}

.navigation{
    background-color: #ffffff;
    height: 100%;
}

.navigation.disable{
    visibility: hidden;
    width: 0;
}

.navigation-content{
    list-style: none;
    padding: 1rem .5rem 1rem 0;
    display: block;
    width: max(15vw, 12rem);
}

.navigation-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 .5rem 0;        
}

.navigation-item{
    display: flex;
    align-items: center;
    color: #213242;
    width: 100%;
    margin: .2rem .2rem .2rem 0;
    padding: .5rem;
    border-radius: 0 10px 10px 0;
    font-family: 'Poppins', sans-serif;

}

.navigation-item a{
    color: #213242;
    width: 100%;
}

.navigation-item a:hover, 
.navigation-item:hover{
    color: #e3a92b;
}

.navigation-item.active{
    background-color: #e3a92b;
}

.navigation-item.active:hover,
.navigation-item.active a:hover{
    color: #ffffff;
}

.navigation-item.login{
    background-color: #213242;
}

.navigation-item.login,
.navigation-item.login a{
    color: #ffffff;
}

.navigation-item.login:hover,
.navigation-item.login a:hover{
    color: #e3a92b;
}


.navigation-item .icon{
    max-width: 20%;
}

/* NAVIGATION TOGGLE */
.navigation-toggle{
    display: flex;
    background-color: #ffffff44;
    align-items: center;
    width: min(2vw, 1.5rem);
    cursor: pointer;
}

.navigation-toggle img{
    width: 100%;
}

.navigation.disable ~ .navigation-toggle img{
    transform: scaleX(-1);
}

/* MOBILE VIEWPORT */
@media (max-width: 1400px) {
    .navigation-item{
        font-size: small;
    }
}

@media (max-width: 600px) {
    .navigation-bar{
        top: auto;
        bottom: 0;
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-areas: 
            "toggle"
            "nav";
    }

    .navigation{
        background-color: #ffffff;
        transition: 0.3s;
    
    }
    
    .navigation.disable{
        margin-bottom: -90%;
        transition: 0.3s;
    }

    .navigation-content{
        grid-area: nav;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem .5rem .5rem .5rem;
        width: 100vw;
    }

    .navigation-item{
        justify-content: center;
        padding: .3rem;
        border-radius: 10px;
        width: 13vw;
    }
    
    .navigation-item a{
        display: flex;
        justify-content: center;
    }

    .navigation-content .icon{
        max-width: 100%;
    }

    .navigation-content span{
        display: none;
        visibility: hidden;
    }

    .navigation-toggle{
        grid-area: toggle;
        width: 100vw;
        justify-content: center;

    }

    .navigation-toggle img{
        width: 2vw;
        transform: rotate(270deg);

    }
    
    .navigation.disable ~ .navigation-toggle img{
        transform: scaleY(-1) rotate(270deg);

    }
}

/* DARK THEME */


.dark-mode .navigation-toggle{
    background-color: #517490a8;
}

.dark-mode .navigation-item a{
    color: #ffffff;
}
    
.dark-mode .navigation-item a:hover, 
.dark-mode .navigation-item:hover{
    color: #cd9a03;
}

.dark-mode .navigation-item.active{
    background-color: #cd9a03;
}

.dark-mode .navigation-item.active:hover,
.dark-mode .navigation-item.active a:hover,
.dark-mode .navigation-item.login:hover,
.dark-mode .navigation-item.login a:hover{
    color: #000000;
}


.dark-mode .navigation{
    background-color: #3c5a72;
}

.dark-mode .navigation-item{
    color: #000000;
}

.dark-mode .navigation-item a:hover, 
.dark-mode .navigation-item:hover{
    color: #000000;
}

.dark-mode .navigation-item.active,
.dark-mode .navigation-item.login{
    background-color: #517490;
}

.dark-mode .navigation-item.active:hover,
.dark-mode .navigation-item.active a:hover,
.dark-mode .navigation-item.login:hover,
.dark-mode .navigation-item.login a:hover{
    color: #213242;
}