.collect-container{
    height: calc(100vh - 117px - 6rem);
}

.circle{
    width: 250px;
    height: 250px;
    background-color: #517490;
    border-radius: 50%;
}

.circle span,
a span{
    color: #e6e6e6;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container{
    height: 90%;
    
}

.content-container a:nth-child(2){
    background-color: #517490;
}

.timer-container{

}

.timer-counter{
    font-size: 2rem;
    color: black;
}

.timer-text{
    color: #213242;
    font-size: .8rem;
}

.tools-running{
    width: 75%;
}

@media (max-height: 700px) {
    .collect-container{
        height: auto;
        padding-bottom: 2rem;
    }    
}

@media (max-height: 800px) {
    .circle{
        width: 210px;
        height: 210px;
    }
 
}
